//
// _menu.scss
//

.hide_nav_bar_btn {
  position: absolute;
  bottom: 5vh;
  left: calc($sidebar-width - 16px);
  background-color: $white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: $transition-fast;
  -moz-transition: $transition-fast;
  -webkit-transition: $transition-fast;

  i {
    transition: $transition-medium;
    -moz-transition: $transition-medium;
    -webkit-transition: $transition-medium;
  }

  // hover by enlarging the button
  &:hover {
    transform: scale(1.3);
  }

  &.mini_active {
    left: calc($sidebar-collapsed-width - 16px);

    i {
      // rotate 180 degree
      transform: rotate(180deg);
    }
  }

  // hide on small screens
  @media (max-width: 768px) {
    display: none;
  }
}

.metismenu {
  margin: 0;

  li {
    display: block;
    width: 100%;
  }

  .mm-collapse {
    display: none;

    &:not(.mm-show) {
      display: none;
    }

    &.mm-show {
      display: block;
    }
  }

  .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: $transition-medium;
    -moz-transition: $transition-medium;
    -webkit-transition: $transition-medium;
  }
}

.vertical-menu {
  width: $sidebar-width;
  z-index: 1001;
  // background: $sidebar-bg;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  top: calc($header-height + 4px);
  // top: $header-height;
  bottom: 0;
  transition: $transition-fast;
  -moz-transition: $transition-fast;
  -webkit-transition: $transition-fast;

  @media (max-width: 991.98px) {
    top: $header-height;
    width: 100%;
    background-color: #0001;
    transition: $transition-slow !important;
    -moz-transition: $transition-slow !important;
    -webkit-transition: $transition-slow !important;
  }

  .navbar-brand-box {
    position: fixed;
    top: 0px;
    // z-index: 99;

    @media (max-width: 991.98px) {
      display: none;
    }
  }

  .sidebar-container {
    background: $sidebar-bg;
    max-width: $sidebar-width;
    max-height: calc(100vh - $header-height - 20px);
    min-height: calc(100vh - $header-height - 20px);
    border-top-right-radius: $border-radius-lg;
    border-bottom-right-radius: $border-radius-lg;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.main-content {
  margin-left: $sidebar-width;
  padding-top: 10px;
  overflow: hidden;
  transition: $transition-fast;
  -moz-transition: $transition-fast;
  -webkit-transition: $transition-fast;

  .page-content {
    padding: 0px 16px 0px 24px;
    height: calc(100vh - $header-height - 20px);
    overflow: auto;
  }
}

#sidebar-menu {
  margin-top: 8px;
  // padding: 6px 0 $footer-height;
  padding: 6px 0 0;
  // border-top: 1.5px solid var(--#{$prefix}border-color);

  .mm-active {
    >.has-arrow {
      &:after {
        transform: rotate(-180deg);
      }
    }
  }

  .has-arrow {
    &:after {
      content: "\F0140";
      font-family: 'Material Design Icons';
      display: block;
      float: right;
      transition: $transition-custom;
      font-size: 1rem;
    }
  }

  ul {
    transition: $transition-fast;
    -moz-transition: $transition-fast;
    -webkit-transition: $transition-fast;

    li {
      transition: $transition-fast;
      -moz-transition: $transition-fast;
      -webkit-transition: $transition-fast;

      a {
        display: block;
        padding: .25rem 1rem;
        margin: 0.25rem 0.5rem 0.25rem .25rem;
        color: $sidebar-menu-item-color;
        background-color: $sidebar-menu-item-bg;
        // border-radius: 0.25rem;
        border-top-right-radius: $border-radius-2xl;
        border-bottom-right-radius: $border-radius-2xl;

        position: relative;
        font-size: 14px;
        transition: $transition-fast;
        -moz-transition: $transition-fast;
        -webkit-transition: $transition-fast;

        i {
          display: inline-block;
          min-width: 1.75rem;
          padding-bottom: .125em;
          font-size: 16px;
          line-height: 1.40625rem;
          vertical-align: middle;
          color: $sidebar-menu-item-icon-color;
          transition: $transition-fast;
          -moz-transition: $transition-fast;
          -webkit-transition: $transition-fast;
        }

        &:hover {
          color: $sidebar-menu-item-hover-color;
          background-color: $sidebar-menu-item-hover-bg;

          i {
            color: $sidebar-menu-item-hover-color;
          }
        }
      }

      .badge {
        margin-top: 4px;
      }

      ul.sub-menu {
        padding: 0 0.5rem;

        li {

          a {
            padding: 0 .5rem;
            font-size: 12px;
            color: $sidebar-menu-sub-item-color;
            background-color: $sidebar-menu-sub-item-bg;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .circle_div {
              width: 4px;
              height: 4px;
              border-radius: 50px;
              background: #000;
              margin-right: 1rem;
            }

            &:hover {
              color: $sidebar-menu-sub-item-hover-color;
              background-color: $sidebar-menu-sub-item-hover-bg;
            }
          }

          ul.sub-menu {
            padding: 0;

            li {
              a {
                padding: .4rem 1.5rem .4rem 4.5rem;
                font-size: 13px;
              }
            }
          }
        }
      }
    }

  }
}

.menu-title {
  padding: 6px 20px !important;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: $sidebar-menu-item-icon-color;
  font-weight: 600;
  // background-color: var(--#{$prefix}light);
}

.mm-active {
  color: $sidebar-menu-item-active-color !important;

  >a {
    color: $sidebar-menu-item-active-color !important;
    background-color: $sidebar-menu-item-active-bg !important;

    i {
      color: $sidebar-menu-item-active-color !important;
    }
  }

  .active {
    color: $sidebar-menu-item-active-color !important;
    background-color: $sidebar-menu-item-active-bg !important;

    i {
      color: $sidebar-menu-item-active-color !important;
    }
  }

  >i {
    color: $sidebar-menu-item-active-color !important;
  }

  ul.sub-menu {

    // .mm-active,
    .active {
      color: $sidebar-menu-sub-item-active-color !important;
      background-color: $sidebar-menu-sub-item-active-bg !important;

      .circle_div {
        background: $sidebar-menu-sub-item-active-color !important;
      }
    }
  }
}

@media (max-width: 992px) {
  .vertical-menu {
    display: none;
  }

  .main-content {
    margin-left: 0 !important;
  }

  body.sidebar-enable {
    .vertical-menu {
      display: block;
    }
  }
}

// Enlarge menu
.vertical-collpsed {

  .main-content {
    margin-left: $sidebar-collapsed-width;
  }

  #page-topbar {
    // left: $sidebar-collapsed-width;

    // @media (max-width: 991.98px) {
    left: 0;
    // }
  }


  // Side menu
  .vertical-menu {
    // position: absolute;
    width: $sidebar-collapsed-width !important;
    // z-index: 5;

    .simplebar-mask,
    .simplebar-content-wrapper {
      height: auto !important;
      overflow: visible !important;
    }

    .simplebar-scrollbar {
      display: none !important;
    }

    .simplebar-offset {
      bottom: 0 !important;
    }

    // Sidebar Menu
    #sidebar-menu {

      .menu-title,
      .badge,
      .collapse.in {
        display: none !important;
      }

      .nav.collapse {
        height: inherit !important;
      }

      .has-arrow {
        &:after {
          display: none;
        }
      }

      >ul {
        >li {
          position: relative;
          white-space: nowrap;

          >a {
            padding: .5rem;
            margin-left: 0.75rem;
            margin-bottom: 0;
            transition: none;

            &:hover,
            &:active,
            &:focus {
              color: $sidebar-menu-item-hover-color;
              background-color: $sidebar-menu-item-hover-bg;
            }

            i {
              font-size: 1.45rem;
              margin-left: 4px;
            }

            span {
              display: none;
              padding-left: 25px;
            }
          }

          &:hover {
            >a {
              position: relative;
              width: calc(190px + #{$sidebar-collapsed-width});
              // color: $primary;
              background-color: darken($sidebar-bg, 4%);
              transition: none;

              // i {
              //   color: $primary;
              // }

              span {
                display: inline;
              }
            }

            >ul {
              display: block;
              left: $sidebar-collapsed-width;
              position: absolute;
              width: 200px;
              height: auto !important;
              box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);

              a {
                box-shadow: none;
                padding: 8px 20px;
                position: relative;
                // width: 190px;
                z-index: 6;
                color: $sidebar-menu-sub-item-color;

                &:hover {
                  color: $sidebar-menu-item-hover-color;
                }
              }
            }
          }
        }

        ul {
          padding: 5px 0;
          z-index: 9999;
          display: none;
          background-color: $sidebar-bg;

          li {
            &:hover {
              >ul {
                display: block;
                left: 190px;
                height: auto !important;
                margin-top: -36px;
                position: absolute;
                width: 190px;
              }
            }

            >a {
              span.pull-right {
                position: absolute;
                right: 20px;
                top: 12px;
                transform: rotate(270deg);
              }
            }
          }

          li.active {
            a {
              color: $gray-100;
            }
          }
        }
      }
    }

  }
}

body[data-layout="horizontal"] {
  .main-content {
    margin-left: 0 !important;
  }
}

// Compact Sidebar

body[data-sidebar-size="small"] {
  .navbar-brand-box {
    width: $sidebar-width-sm;
  }

  .vertical-menu {
    width: $sidebar-width-sm;
    text-align: center;

    .has-arrow:after,
    .badge {
      display: none !important;
    }
  }

  .main-content {
    margin-left: $sidebar-width-sm;
  }

  .footer {
    left: $sidebar-width-sm;

    @media (max-width: 991.98px) {
      left: 0;
    }
  }

  #page-topbar {
    left: $sidebar-width-sm;

    @media (max-width: 991.98px) {
      left: 0;

      .navbar-header {
        .navbar-brand-box {
          width: auto;
        }
      }
    }
  }

  #sidebar-menu {
    ul li {
      a {
        i {
          display: block;
        }
      }

      ul.sub-menu {
        li {
          a {
            padding-left: 1.5rem;
          }

          ul.sub-menu li a {
            padding-left: 1.5rem;
          }
        }
      }
    }
  }

  &.vertical-collpsed {
    .main-content {
      margin-left: $sidebar-collapsed-width;
    }

    .vertical-menu {
      #sidebar-menu {
        text-align: left;

        >ul {
          >li {
            >a {
              i {
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .footer {
      left: $sidebar-collapsed-width;
    }
  }
}

.vertical-menu {
  [data-simplebar] {
    z-index: 9;
  }
}